.card_group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.card {
  margin-top: 40px;
  width: 32%;
  height: 365px;
}
.card_content {
  background-color: #fff;
  padding: 24px 16px;
  border-radius: 10px;
  height: 365px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.info_course {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.info_course span {
  margin: 10px 0px;
  display: inline-block;
  width: fit-content;
}
.info_course span div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.point {
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background-color: rgb(35, 125, 247);
  margin-right: 5px;
}
.point_light {
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background-color: rgb(162, 198, 247);
  margin-right: 5px;
}
.chart {
  width: 100%;
  max-height: 40%;
  padding: 10px 0px;
}
.card_content .chart {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainBox__content {
  width: 100%;
  min-width: 275px;
  height: auto;
  border-radius: 16px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  box-shadow: 0px 0.5px 4px 0px rgba(96, 97, 112, 0.32) !important;
  z-index: 10px;
  padding: 0;
  border: 0;
  cursor: pointer;
  gap: 12px;
}

.headerContent {
  background: linear-gradient(107.66deg, #063b42 2.8%, #0f96a8 98%),
    linear-gradient(
      252.45deg,
      rgba(0, 0, 0, 0) 2.14%,
      rgba(6, 59, 66, 0.2) 100%
    );
  width: 100%;
  height: 132px;
  box-sizing: border-box;
  padding: 16px;
  border-radius: 16px !important;
  position: relative;
}

.headerContent__text {
  width: 145px;
  height: 104px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.text__hedding2 {
  width: 145px;
  height: 48px;
  font-weight: 700;
  line-height: 24px;
  font-size: 16px;
  color: white;
  padding: 0;
  margin: 0;
}

.text__hedding3 {
  width: 145px;
  height: 24px;
  font-weight: 500;
  line-height: 24px;
  font-size: 16px;
  color: var(--gray-80);
  padding: 0;
  margin: 0;
}

.text__img {
  width: 24px;
  height: 24px;
}

.headerContent__avt {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 120px;
  height: 128px;
}

.mainContent {
  position: relative;
  width: 100%;
  height: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  z-index: 1px;
}

.mainContent__headContent {
  min-width: 225px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headContent__evaluete {
  height: auto;
  width: auto;
}

.starGroup {
  display: flex;
  flex-direction: row;
  gap: 3px;
  align-items: center;
}

.evaluete__main {
  width: 100%;
  height: 16px;
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.starElement {
  width: 12px;
  height: 12px;
}

.starNumber {
  width: auto;
  height: 16px;
  font-size: 10px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  color: var(--text-25);
}

.evaluete__note {
  width: 100%;
  height: 16px;
  font-size: 10px;
  font-weight: 400;
  line-height: 16px;
  text-align: start;
  color: var(--text-25);
}

.headContent__percent {
  min-width: 74px;
  max-width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bodyContent {
  display: flex;
  gap: 10px;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.bodyContent__element {
  text-align: center;
  width: 100%;
  background-color: #fafafa;
  border-radius: 16px;
  padding: 5px;
  box-shadow: 0px 1px 2px #a6a7b6e5;
}
.linechart {
  width: 80%;
  height: 73%;
}
