.main{
  padding: 32px 40px;
}
.mainheader{
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 32px;
  
}



.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  background: var(--background-bg-admin, #f5f6fa);
  padding: 25px 32px;
}
.header1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  background: var(--background-bg-admin,#f5f6fa);
  padding: 0px 40px;
}

.heading {
  color: var(--text-100);
  font-size: 2.125rem;
  font-weight: 500;
  line-height: 42px;
  letter-spacing: -0.68px;
}
.filter_bar{
 
 padding-top: 32px;
}
.actions {
  display: flex;
  gap: 12px;
}

.customHeight {
  height: 40px;
}

.filterBar {
  background: var(--background-bg-admin, #f5f6fa);
  margin-left: 0px;
}

.filterInputGroup {
  background: var(--Gray-gray-100, #fff);
  border-radius: 10px;
  width: 40%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
}

.inputGroupText {
  border: none;
  padding: 24px 20px;
  border-radius: 14px;
}

.formSelect {
  width: fit-content;
  border: none;
}

.formSelect option {
  padding: 12px 20px;
}

.resetGroupText {
  color: red;
  border: none;
}

.searchInputGroup {
  display: flex;
 
  width: 250px;
  height: 32px;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  margin-top: 42px;
}
.searchInput{
  border: none;
  outline: none;
  border-radius: 30px;
  padding-left: 12px;
}
.searchIconWrapper {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #c3c3c3;
  cursor: pointer;
}

.searchInput:focus {
  border-color: var(--blue-60);
}

.searchIconWrapper {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #c3c3c3;
  cursor: pointer;
}

.table thead tr {
  border: none;
}
.table thead tr td {
  padding: 20px 10px;
  background: var(--Gray-gray-95, #fafafa);
  border: none;
  border-bottom: 1.5px solid #b3b3b3;
  
}

.table thead tr td:nth-child(6) {
  text-align: center;
}
.table thead tr td:nth-child(1) {
  width: 174px;
}


.table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;

}

.table td:nth-child(2) {
  max-width: 150px;
 
  
}

.table tbody tr td {
  padding: 24px 12px;
  border: none;
  border-bottom: 1.5px solid #b3b3b3;
    vertical-align: middle;
     
}
.table tbody tr td:nth-child(6) {
  text-align: center;
}
.table thead td {
  white-space: nowrap;
}

.active_text {
  color: #24a148;
  background-color: #24a14826;
  padding: 5px 30px;
  border-radius: 5px;
}

.option_button {
  display: flex;
  /* max-width: 185px; */
  justify-content: space-between;
  align-items: center;
  background-color: #fafafa;
  border-radius: 5px;
  border: 1px solid #dbdbdb;
}

.option_button a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  width: 63px;
  height: 38px;
  margin: 0;
}
.option_button a:nth-child(2) {
  border-left: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
}
.option_button a img {
  width: 24px;
  height: 24px;
}
.option_button_group {
  /* display: flex; */
  /* height: 108px; */
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 0px 8px 8px 0px;


}
.option_button_group a {
  text-align: center;
  padding: 0px 15px;
}

/*  Actions */
.btnCTA {
  color: var(--text-0);
 
 
 
  padding: 8px 12px;
  border-radius: 12px;
  border: 1px solid var(--blue-60);

}
.btnCTA1 {
  color: var(--text-0);
  width: 184px;
  height: 56px;
 background-color: #438FF7;
  padding: 8px 12px;
  border-radius: 12px;
  border: 1px solid var(--blue-60);
}
.btnCTA2 {
  color: #1958AD;
  width: 184px;
  height: 56px;
 background-color: #FFFF;
  padding: 8px 12px;
  border-radius: 12px;
  border: 1px solid var(--blue-60);
}
.btnCTA5 {
  color: var(--text-0);
  width: 173px;
   height: 56px;
 
 
  padding: 8px 12px;
  border-radius: 12px;
  border: 1px solid var(--blue-60);
}

.btnCTAOutline {
  color: var(--blue-60);
}

/* Pagination */
.paginationWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}
.pagination {
  display: flex;
  align-items: center;
  padding: 10px 24px;
  border-radius: 50px;
  background-color: #f2f4f8;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.pagination .page-item {
  position: relative;
  margin: 0 5px;
  border: none;
}

.pagination .page-item .page-link {
  color: #6c757d;
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.pagination .page-link:hover {
  background-color: #e9ecef;
}

.pagination .page-item.active .page-link {
  background-color: #458eff;
  color: white;
  border: none;
}

.pagination .page-link:focus {
  outline: none;
}

.pagination-prev,
.pagination-next {
  font-size: 18px;
  padding: 10px;
  color: #6c757d;
  cursor: pointer;
}

.pagination-prev:hover,
.pagination-next:hover {
  background-color: #e9ecef;
  border-radius: 50%;
}

.headerContent {
  background: linear-gradient(107.66deg, #063B42 2.8%, #0F96A8 98%),
      linear-gradient(252.45deg, rgba(0, 0, 0, 0) 2.14%, rgba(6, 59, 66, 0.2) 100%);
  width: 150px;
  height: 72px;
  box-sizing: border-box;
  padding: 8px;
  border-radius: 16px !important;
  position: relative;
}

.headerContent__text {
  width: 135px;
  height: 104px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.text__hedding2 {
  width: 100px;
  height: auto;
  font-weight: 700;
  
  font-size: 9px;
  color: white;
  padding: 0;
  margin: 0;
  
  white-space: normal;
}

.text__hedding3 {
  width: 145px;
 
  font-weight: 500;
  
  font-size: 8px;
  color: var(--gray-80);
  padding: 0;
  margin: 0;
}

.text__img {
  width: 13px;
  height: 13px;
}

.headerContent__avt {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 66px;
  height: 62px;
}