.container {
  width: 100%;
  padding: 0;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #fff;
  height: 74px;
  /* margin: 0px 20px; */
}

.mainContent {
  width: 100%;
  display: flex;
}
.content {
  margin-top: 15vh;
}

.sidebar {
  width: 233px; /* Chiều rộng cố định cho sidebar */
  position: fixed;
  top: 10vh;
  left: 0;
  height: 90vh;
  background-color: #f8f9fa;

  z-index: 999;
  padding: 0;
}

.article {
  /* width: 100%; */
  padding-top: 12vh;
  height: 100vh;
  overflow-y: auto;
  background: var(--background-bg-admin, #f5f6fa);
}

.custom-col {
  width: calc(100% / 12 * 1.5); /* Custom width for 1.5 columns */
}
