.container {
    margin: 0 auto;
    padding: 0;
    display: flex;
    width: 100%;
    padding: 80px 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    position: relative;
}

.body {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    max-width: 1200px;
    height: 556px;
    max-width: 1200px;
    padding: 80px 40px;
    align-items: center;
    gap: 4px;
    border-radius: 36px;
    background: var(--cyan-90);
    flex-direction: row;
    position: relative;
}

.img__logo {
    width: 87px;
    height: 78px;
    position: absolute;
    left: 137px;
    top: 94px;
    margin: 0;
    padding: 0;
}

.left__body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 285px;
    max-width: 285px;
    height: auto;
    padding: 12px;
    align-items: flex-start;
    gap: 32px;
}

.left__body__card {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    border: 0;
    background: var(--cyan-90);
    display: flex;
    flex-direction: column;
}

.left__body__card__main {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.left__body__card__title {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    font-size: 34px;
    font-style: normal;
    font-weight: 600;
    line-height: 42px;
    letter-spacing: -0.68px;
    color: var(--text-100);
}

.left__body__card__subTitle {
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: var(--cyan-50);
}

.left__body__card__content {
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.left__body__card__groupBtn {
    width: auto;
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.btn__prev,
.btn__next {
    width: 50px;
    height: 50px;
    background-color: white;
    padding: 0 !important;
    margin: 0 !important;
    border: 0;
    border-radius: 50%;
    border: 1px solid var(--gray-80);
}

.btn__prev:hover,
.btn__prev:active,
.btn__prev:focus {
    background-color: white;
}

.btn__next:hover,
.btn__next:active,
.btn__next:focus {
    background-color: white;
}

.btn__prev {}

.btn__next {}

.right__body {
    width: 100%;
    min-width: 1035px;
    height: auto;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    align-items: flex-start;
    gap: 18px;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    flex-grow: 0;
    white-space: nowrap;
    position: absolute;
    left: 329px;
    cursor: pointer;
}

.right__body>* {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    min-width: 300px;
    max-width: 300px;
}

.right__body__box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    max-width: 300px;
    height: 346px;
    margin: 0;
    padding: 0;
    border-radius: 12px;
    padding-bottom: 20px;
    border: 0;
    background-color: var(--gray-100);
}

.right__body__img {
    width: 300px;
    height: 165px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.right__body__main {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0;
    padding: 0 12px;
    width: 100%;
    height: 120px;
    max-height: 120px;
}

.right__body__subTitle {
    margin: 0;
    padding: 0;
    display: flex;
    width: auto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    color: var(--cyan-40);
}

.right__body__title {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    height: auto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    white-space: normal;
    word-wrap: break-word;
}

.right__body__content {
    margin: 0;
    padding: 0;
    color: var(--cyan-40);
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}