@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.mainContainer {
    font-family: 'Lato', sans-serif;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.ckContent {
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
    word-break: break-word;
}


.editorContainer {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.editorContainerClassicEditor .editor {
    width: 100%;

}

.editorContainerIncludeBlockToolbar {
    margin-left: 0px;
}

.cta {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 12px;
}