.table thead tr {
  border: none;
}
.table thead tr td {
  padding: 20px 10px;
  background: var(--Gray-gray-95, #fafafa);
  border: none;
  border-bottom: 1.5px solid #b3b3b3;
  text-align: left;
}

.table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

.table td:nth-child(2) {
  max-width: 300px;
}

.table tbody tr td {
  padding: 20px 10px;
  border: none;
  border-bottom: 1.5px solid #b3b3b3;
  text-align: left;
  vertical-align: middle;
}
.table tbody tr td a {
  text-decoration: none;
  color: black;
}

.table thead td {
  white-space: nowrap;
}
.roundedImg {
  border-radius: 80px;
  object-fit: cover;
}
.PrintBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.6px solid var(--Gray-gray-80, rgba(219, 219, 219, 1));
  margin-right: 10px;
  width: 48px;
  background-color: #f3f3f3;
  border-radius: 5px;
  width: 60px;
}
.PrintBtn img {
  margin: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
